<% include ../partials/header %>
	<form action="/books/searchresults">
		<label for="search">Enter Title:
			<input type="text" name="search">
		</label>
		<input type="submit" value="Search">
	</form>
	<a href="/books"><button>Return Home</button></a>
<% include ../partials/footer %>