<% include ../partials/header %>
<h2>About <%= book.title %></h2>
<p><%= book.title %> was written by <%= book.author %> in <%= book.year %>.</p>

<a href="/books"><button>Return Home</button></a>
<% include ../partials/footer %>