<h1>Our bad. You've reached a 500 page. Please try again soon.</h1>
<a href="/books"><button>Return Home</button></a>
<a href="/books/new"><button>Add A Book</button></a>
<a href="/"><button>Find A Book</button></a>
